[
 {kernel, 
  [{logger, 
    [{handler, dgram, dgram_logger,
                      #{config => 
                            #{host => {192,168,90,6},
                              port => 8089,
                              measurement => logger,
                              send_timestamp => false}}}
    ]}]}
].
